<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1">Add Order</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section class="bg-light py-5" id="form">
            <div class="container">
                <p>Enter order details</p>
                {% if errormessage %}
                    <div class="alert alert-danger" role="alert">
                        {{ errormessage }}
                    </div>
                {% endif %}
                <form action="/add-order" method="post">
                    <label for="customers">Select Customer:
                        <select name="customerId" id="customerId">
                            {% for customer in customers %}
                            <option value="{{ customer.customerId }}" value="{{ name }}" selected>
                                {{ customer.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </label>
                    <label for="product">Select Product:
                        <select name="productId" id="productId">
                            {% for product in products %}
                            <option value="{{ product.productId }}" id="productId" name="productId" selected>
                                {{ product.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </label>
                    <div class="form-group">
                        <label for="orderDate">Date</label>
                        <input type="text" class="form-control" id="orderDate" name="orderDate" value="{{ date }}" required>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantiy</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" value="{{ quantity }}">
                    </div>
                    <button class="btn btin-primary mt-3" type="submit">Submit</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>